html, body{ height:100%; margin:0; }
footer{ height:50px; margin-bottom: 50px;}

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

.navbar-brand{  
	font-size: 1.5rem !important;
	color:#ffffff !important;
}
.navbar-nav > li >a{
	font-size:1.25rem !important;
	color:#ffffff !important
}
.grad{
  background-image: linear-gradient(to right, #00c6ff , #0072ff);
}

.sub-header{
	text-align:center;
	padding:10px;
}

.custom-title{
	text-align:center;
	margin:10px;
	padding:10px;
	font-size: 1.5rem;
	/*border-radius: 1em;*/
	border: solid 1px #cccccc;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 5px #cccccc;
}

.about-title{
	text-align:center;
	margin:10px;
	padding:20px;
	font-size: 1.5rem;
	/*border-radius: 1em;*/
	border: solid 1px #cccccc;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 5px #cccccc;
}

.about-box{
	text-align:left;
	font-size: 1rem;
	margin:30px;
	padding:5px;
}

.blue-box{
	text-align:center;
	margin:5px;
	padding:10px;
	font-size: 1.5rem;
	/*border-radius: 1em;*/
	border: solid 3px #0072ff;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 5px #cccccc;
}
.pointer{
	cursor: pointer;
}

.modal-lg {
	max-width: 90% !important;
}

tspan{
	display:none !important;
}